html, body, #view, #menu {
  margin: 0;
  border: 0;
  padding: 0;
}

#view, #menu {
  position: absolute;
}

body {
  background-color: #333;
}

#view {
  height: 100vh;
  width: 80vw;
}

#menu {
   right: 0;
   width: 20vw;
   height: 100vh;
}
